<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <title>Cadastro de Alunos</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>

<div class="container">

    <h1>Cadastro de Alunos</h1>

    <form action="/cadastrar" method="POST">

        <input type="text" name="nome" placeholder="Nome Completo">

        <input type="text" name="email" placeholder="E-mail">

        <input type="text" name="telefone" placeholder="Telefone">

        <input type="text" name="cpf" placeholder="CPF">

        <input type="text" name="cidade" placeholder="Cidade">

        <input type="text" name="estado" placeholder="Estado">

        <input type="text" name="curso" placeholder="Curso">

        <input type="text" name="idade" placeholder="Idade">

        <input type="password" name="senha" placeholder="Senha">

        <button type="submit">Cadastrar</button>

    </form>

</div>

</body>
</html>